.show-content {
    margin: 5px;
}

.rate-prof {
    height: 95vh;
    padding: 5px;
}

.prof-search {
  width: 200px;
  margin-left: 10px;
}

.depts {
    padding: 5px;
}

.content { 
  padding: 16px; 
}

.content > mat-card { 
  width: 200px; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}