<div class="content" fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column" fxFlexFill *ngIf="professor">
    <div fxFlex="100" fxFlex.xs="55">
        <p>
            <button style="margin-right: 10px;" mat-raised-button (click)="goBack()">Back</button>
            <button mat-raised-button color="primary" routerLink="/home-page/prof-detail/new-rating/{{professor['id']}}">Add
                a new
                rating</button>
            <img class="prof-avatar" src="{{professor['imageLink']}}" />
        </p>
        <p class="mat-body-1"><b>Name:</b> {{ professor['fullName'] }}</p>
        <p class="mat-body-1"><b>Professor in department:</b> {{ professor['department'] }}</p>
        <p class="mat-body-1"><b>Overall rating:</b>
            {{ professor['ratings'] ? getProfOverallRating(professor['ratings']) + ' stars' : 'This professor hasn\'t gotten any rating yet'}}
        </p>
        <div *ngIf="professor['ratings']">
            <p class="mat-body-1"><b>Details:</b></p>
            <div *ngFor="let rating of professor['ratings']">
                <mat-card class="rating-detail">
                    <p class="mat-subheading-1">Rating: {{rating['rating']}} for <b>{{rating['course']}}</b> on
                        {{ rating['dateAdded'] }}</p>
                    <p>Grade Received: {{ rating['gradeReceived'] }}</p>
                    <p>Average GPA: {{ rating['currentGPA'] }}</p>
                    <p class="mat-subheading-1">{{rating['description']}}</p>
                </mat-card>
            </div>
        </div>
    </div>
</div>