<div mat-dialog-title>
    <button mat-button (click)="onNoClick()">Close</button>
    <h3 style="text-align: center;" mat-subheader>Chats with others</h3>
</div>
<div mat-dialog-content>
    <mat-list *ngFor="let chatMessage of webSocketService.chatMessages">
        <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <h4 mat-line>{{chatMessage['username']}}</h4>
            <p mat-line>{{chatMessage['chat']}}</p>
        </mat-list-item>
    </mat-list>
</div>
<div class="full-width chat-form">
    <form (ngSubmit)="onSubmit(chatForm.value)" [formGroup]="chatForm">
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <div fxFlex="80">
                <mat-form-field class="full-width">
                    <input matInput formControlName="chat" [errorStateMatcher]="matcher" placeholder="Is this even needed?">
                </mat-form-field>
            </div>
            <div fxFlex="5"></div>
            <div fxFlex="20">
                <button mat-raised-button color="primary" [disabled]="!chatForm.valid" type="submit">Send</button>
            </div>
        </div>
    </form>
</div>