<div class="content" fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex fxFlex="50" fxFlex.xs="30" >
        <div [style.margin-left]="'10px'">
            <p [style.margin-top]="'10px'" class="mat-headline">Please choose the date you began your journey at GAC</p>
            <br />
            <p [style.margin-top]="'10px'" class="mat-headline">Please choose the date you anticipate to graduate</p>
        </div>
    </div>
    <div class="date-picker" fxFlex="50" fxFlex.xs="70">
        <form (ngSubmit)="onSubmit(dateForm.value)" [formGroup]="dateForm">
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Pick a date</mat-label>
                <input formControlName="startDate" matInput [attr.disabled]="true" [matDatepicker]="dp3" [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                <mat-error *ngIf="dateForm.get('startDate').hasError('required')">
                    Start date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br/>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Pick a date</mat-label>
                <input formControlName="endDate" matInput [attr.disabled]="true" [matDatepicker]="dp4" [errorStateMatcher]="matcher">
                <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                <mat-error *ngIf="dateForm.get('endDate').hasError('required')">
                    End date is <strong>required</strong>
                </mat-error>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>
