.content { 
  padding: 16px; 
}

.card-container-right{
  display: inline;
  float: right;
}

.card-container-left{
  display: inline;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}