<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button routerLink="/">
            <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon>
            <span class="mat-subheading-2">GAC Academics</span>
        </a>
        <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <span>Welcome, {{name}}!</span>
                <span class="example-spacer"></span>
                <a mat-button routerLink="/home-page/profs-rating"><span>Profs Rating</span></a>
                <a mat-button routerLink="/home-page/semester-planning" [queryParams]="{ studentId: studentId }"><span>Semester planning</span></a>
                <a mat-button (click)="logout()"><span>Log out</span></a>
            </div>
  
          
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/home-page/profs-rating">Profs Rating</a>
                <a mat-button routerLink="/home-page/semester-planning" [queryParams]="{ studentId: studentId }">Semester planning</a>
                <a mat-button (click)="logout()"><span>Log out</span></a>
            </div>
        </mat-sidenav>
        <div>
        </div>
        <mat-sidenav-content fxFlexFill>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>
