<div>
    <mat-toolbar color="primary">
        <div fxShow="true" fxHide.gt-sm="true">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <a mat-button routerLink="/">
            <fa-icon [icon]="faGraduationCap" size="lg"></fa-icon>
            <span class="mat-subheading-2">GAC Academics</span>
        </a>
        <span class="example-spacer"></span>
            <div fxShow="true" fxHide.lt-md="true">
                <span>Welcome, {{name}}!</span>
                <span class="example-spacer"></span>
                <a mat-button routerLink="/home-page/profs-rating"><span>Profs Rating</span></a>
                <a mat-button routerLink="/home-page/semester-planning" [queryParams]="{ studentId: studentId }"><span>Classes planning</span></a>
                <a mat-button (click)="logout()"><span>Log out</span></a>
            </div>  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
        <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
            <div fxLayout="column">
                <a mat-button routerLink="/home-page/profs-rating">Profs Rating</a>
                <a mat-button routerLink="/home-page/semester-planning" [queryParams]="{ studentId: studentId }">Classes planning</a>
                <a mat-button (click)="logout()"><span>Log out</span></a>
            </div>
        </mat-sidenav>
        <mat-sidenav-content fxFlexFill>

                <div *ngIf="route.children.length === 0">
                    <h2 class="mat-display-1" style="text-align: center; margin-top: 5px;">Welcome to GAC Academics project!</h2>
                    <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
                        <div fxFlex="100" class="sec1" fxFlex.xs="55">
                            <h3 class="mat-h3"><b>What is this website about?</b></h3>
                            <p>This website is made for students to rate their professors and plan their 4-year academics. If you
                                are a Gustie and have some coding skills in hand, feel free to contribute to this website by cloning
                                the repo <a href="https://github.com/lamngue/GAC-Academics">here.</a>
                            </p>
                            <h3 class="mat-h3"><b>How do I use this website?</b></h3>
                            <p>
                                To view professor ratings, simply navigate to the "Profs Rating", there you can view the list of
                                professors,
                                click on "View Detail" to view the detail for each professor and make a new rating. If you find any
                                professor missing,
                                please let me know.
                                To add a 4-year plan, navigate to the "Classes Planning" section, input your start and end date at
                                Gustavus, then the website
                                will populate the semesters based on the start to end date. From there you can start adding your planned
                                class.
                            </p>
                            <br />
                            <p>
                                I made this website since I saw the data for RateMyProfessor is outdated and would like to make a new
                                one just for
                                Gustavus students. If you found any issue, please let me know.
                            </p>
                        </div>
                    </div>
                </div>
                <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
